@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}
.vc{
  display: flex;
  justify-content: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  justify-content: center;
  padding: 0;
  gap: 50px;
}

.main-card .cards .card:hover{
  transform: translateY(-15px);
}
.card .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 5px; */
}
.card .content .img{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #05d3c6;
  margin-bottom: 14px;
}
.card .content .img img{
  height: 100%;
  width: 100%;
  border: 3px solid #ffffff00;
  border-radius: 50%;
  object-fit: cover;
}
.card .content .name{
  font-size: 20px;
  font-weight: 500;
}
.card .content .job{
  font-size: 20px;
  color: #FF676D;
}
.card .content .media-icons{
  margin-top: 10px;
  display: flex;
}
.media-icons a{
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  margin: 0 4px;
  font-size: 14px;
  color: #FFF;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #05d3c6;
  transition: all 0.3s ease;
}
.media-icons a:hover{
  color: #05d3c6;
  background-color: #fff;
  border-color: #FF676D;
}

/* @keyframes snakeBorder {
  0% {
    border-top-width: 3px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
  }
  25% {
    border-top-width: 0px;
    border-right-width: 3px;
    border-bottom-width: 0px;
    border-left-width: 0px;
  }
  50% {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 3px;
    border-left-width: 0px;
  }
  75% {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 3px;
  }
  100% {
    border-top-width: 3px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
  }
} */

.cards_itemm {
  display: flex;
  padding: 1rem;
  height: 46vh;
  opacity: 0;
  width: 22%;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.cards_itemm.in-viewport {
  opacity: 1;
  transform: translateY(0);
}


.card {
  width: 100%;
  background: rgb(0 0 0 / 14%); /* Transparent white background for glass morphism */
  border-radius: 0.5rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card_image {
  height: 80%;
  position: relative;
}

.card_image img {
  height: 100%;
  object-fit: cover;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #4e00ff, #00c5ff); /* Neon-colored gradient */
  height: 20%;
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0;
  transition: color 0.3s ease;
}


.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
  transition: color 0.3s ease;
}

.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

#authorities{
  width: 30%;
}

/* .timeline {
  position: fixed;
  top: 0;
  left: 1%;
  width: 4px; 
  height: 100%;
  background-color: #3498db; 
  transform: translateX(-50%);
  z-index: 999;
}

.portfolio_heading {
   text-align: center;
   display: block;
   background: linear-gradient(to right, rgb(105, 244, 237), #1830bb);  
   color: white; 
  
  position: relative;
 
  margin-left: 12px; 
  
} */

.timeline {
  position: fixed;
  top: 0;
  left: 1%;
  width: 4px; 
  height: 100%;
  background-color: #3498db; 
  transform: translateX(-50%);
  z-index: 999;
}

.portfolio_heading {
  text-align: center;
  display: block;
  background: linear-gradient(to right, rgb(105, 244, 237), #1830bb);  
  color: white; 
  
  position: relative;
  
  margin-left: 12px; 
  min-width: 1.1em; 
  box-sizing: border-box; 
}



@media screen and (max-width:1080px) {
  #authorities{
    width: 44%;
  }
  .cards_itemm {
    width: 40%;
  }
}
@media screen and (max-width:650px) {

  .cards_itemm {
    width: 60%;
  }
}
@media screen and (max-width:460px) {

  .cards_itemm {
    width: 70%;
  }
}

@media screen and (max-width:700px) {
  #authorities{
    width: 72%;
  }
}
@media (max-width: 990px) {

}

/* @media (min-width: 56rem) {
  .cards_itemm {
  }
} */
