@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


::-moz-selection {
    background-color: #C3CFE2;
  }
  
  ::selection {
    background-color: #C3CFE2;
  }
  
  body{
    background-color: rgb(0, 0, 5);
  }
  .mobile{
    padding-top: 5rem;
  }
  .para-text .text {
    /* padding-left: 4rem;   */
    padding-top: 2rem;
    text-align: center;
    position: relative;
    justify-content: center;
    text-transform: uppercase;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
    background: linear-gradient(to bottom, #ffffff 0%, #e2d7f8 50%, #bfa2f3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 7rem;
    font-family: 'Anton', sans-serif;
    /* opacity: 0;
    transform-origin: bottom center;
    transform: rotateX(-90deg); */
    color: none;
    animation: blur 10s ease-out infinite;
    -webkit-animation: blur 10s ease-out infinite;
  }
  

.para-text .text:nth-child(1) {
  filter: blur(0px);
  -webkit-animation: blur-text 0.8s 0.2s linear ;
          animation: blur-text 0.8s 0.2s linear ;
}
.para-text .text:nth-child(2) {
  filter: blur(0px);
  -webkit-animation: blur-text 0.8s 0.25s linear alternate;
          animation: blur-text 0.8s 0.25s linear alternate;
}
.para-text .text:nth-child(3) {
  filter: blur(0px);
  -webkit-animation: blur-text 0.8s 0.3s linear alternate;
          animation: blur-text 0.8s 0.3s linear alternate;
}
.para-text .text:nth-child(4) {
  filter: blur(0px);
  -webkit-animation: blur-text 0.8s 0.35s linear alternate;
          animation: blur-text 0.8s 0.35s linear alternate;
}


@-webkit-keyframes blur-text {
  0% {
    filter: blur(4px);
  }
  100% {
    filter: blur(0px);
  }
}

@keyframes blur-text {
  0% {
    filter: blur(4px);
  }
  100% {
    filter: blur(0px);
  }
}





  .parallax-section{
    z-index: 1;
	  overflow: hidden;
    transform-style: preserve-3d;
  }

  @media screen and (max-width: 500px){
    .para-text .text {
        /* padding-left: 1rem; */
        /* padding-top: 7rem; */
        /* margin-left: ; */
        margin-top: 1rem;
        text-align: center;
        line-height: 4rem;
        letter-spacing: 0.4rem;
        text-transform: uppercase;
        background: linear-gradient(to right, #ffffff 0%, #dbc3fa 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 4rem;
        font-family: 'Anton', sans-serif;
       
    }
    .para-text .mobile{
      position: absolute;
      margin-top: 13vh;
      margin-left: 10vh;
    }
  }