@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: metropolis;
    src: url(../fonts/Helvetica-Bold.ttf);
}

body {
    /* margin: 0;
    padding: 0;
    height: 1000px; */
    /* background-image: url(../images/bg.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-size: 16px;
    /* The image used */
    background-color: #000000;
    /* Used if the image is unavailable */
    background-position: center;
    /* Center the image */
    /* Do not repeat the image */
    height: 110vh;
}


.subContainer {

     transform: translateY(14vh); 
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    /* background-color: rgb(198, 130, 130); */
    gap: 20px;
    margin-bottom: 200px;
}

.filterDiv {
    /* float: left; */

    line-height: 50px;
    text-align: center;
    margin: 20px;

    /* display: none; */

    /* box-shadow: 1.5px 1.5px 40px black; */
    border-radius: 25px;
    /* animation: animate 1s ease, movement 3s infinite ease alternate; */

    /* Hidden by default */
}

.title1 {
    font-size: 35px;
    color: aqua;
    text-align: center;
    width: 100%;
    font-family: kanit;
    font-weight: 600;
}

.box {
    position: relative;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 304px;
    min-width: 304px;
    /* height: 300px; */
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
}

.box:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    pointer-events: none;
}

.box:hover:before {
    left: -50%;
    transform: skewX(-5deg);
}


.box .content {
    position: relative;
    /* top:15px;
    left:15px;
    right:15px;
    bottom:15px; */
    border: 1px solid #f0a591;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(9, 0, 0, 0.5);

}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;

}

.box span:nth-child(1) {
    transform: rotate(0deg);
    left: -50%;
}

.box span:nth-child(2) {
    transform: rotate(90deg);
    top: -50%;
}

.box span:nth-child(3) {
    transform: rotate(180deg);
    left: 50%;
}

.box span:nth-child(4) {
    transform: rotate(270deg);
    top: 50%;
}

.box span:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #50dfdb;
    animation: animateborder 8s linear infinite;
}

@keyframes animateborder {
    0% {
        transform: scaleX(0);
        /* width:100%; */
        transform-origin: left;
    }

    50% {
        transform: scaleX(1);
        /* width: 100%; */
        transform-origin: left;
    }

    50.1% {
        transform: scaleX(1);
        /* width: 100%; */
        transform-origin: right;

    }

    100% {
        transform: scaleX(0);
        /* width: 100%; */
        transform-origin: right;

    }


}

/* @keyframes movement {
    from {
        transform: translateX(-30px);
    }

    to {
        transform: translateX(30px);
    }
} */

/* @keyframes animate {
    from {
        scale: 0.5;
    }

    to {
        scale: 1;
    }
} */

/* .filterDiv img {
    height: 30vh;
    width: 40vh;
    border-radius: 25px;
} */

/* The "show" class is added to the filtered elements */
.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subContainer .filterDiv img {
    /* width: 100%; */
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.5s ease;
}

.subContainer .filterDiv:hover img {
    /* transform: scale(1.1); */
    box-shadow: 2px 2px 75px rgb(77, 69, 69);
    /* animation: ved 1s infinite ease-in-out linear; */
}

.subContainer .mc:hover img {
    box-shadow: none;
}

.subContainer .filterDiv p {
    display: none;
    /* visibility: hidden; */
    width: 100%;
    background-color: #ffffff;
    font-size: 20px;
    height: 50px;
}

.subContainer .filterDiv:hover p {
    display: block;
    /* visibility: visible; */
    position: relative;
    /* padding: 20px; */
    background-color: #ffffff;
    /* transform: scale(1.1); */
    /* transition: width 0s, height 0.5s ease; */
    /* transition: all 0.5s ease; */
    animation: open-down 0.8s linear;
}

@keyframes open-down {
    0% {
        opacity: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        height: 50px;
    }
}

.subContainer .filterDiv p a {
    text-decoration: none;
    color: #000000;
}


#myBtnContainer {
    display: flex;
    justify-content: center;
    /* transform: translateY(5vh); */
}

#myBtnContainer .btn {
    font-family: 'Bree Serif', serif;

}

@media (max-width:880px) {

    .subContainer .filterDiv p {
        display: block;
        /* visibility: visible; */
        position: relative;
        background-color: #ffffff;
        transition: all 0.5s ease;
    }

    #myBtnContainer {
        display: grid;
        grid-template-columns: auto;
        gap: 23px;
        grid-template-rows: auto auto auto;
    }

    #myBtnContainer .btn {
        width: 310px;
        border-radius: 15px;
        height: 50px;
    }

    /* .show{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    } */

}

/* Add a dark background to the active button */
#myBtnContainer button.active {
    /* background-color: #47c95a ; */
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    /* color: rgb(22, 68, 5); */
    color: linear-gradient(to top, #dfe9f3 0%, white 100%);
    ;
    /* transition: background-color 2s ease;
*/


    background: linear-gradient(-45deg, red, blue);
    background-size: 400% 400%;
    /* animation: blink-1 0.6s both, gradient 15s ease infinite; */
    opacity: 1;
    border: 2px dashed rgba(255, 255, 255, 1);
    animation: gradient 15s ease infinite;

    /* height: 100vh; */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


#myBtnContainer .btnone {
    /* background-color: #ffffff; */
    /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    opacity: 0.3;



}






.btntwo {
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    opacity: 0.3;

}

.btnthr {
    background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
    opacity: 0.3;




}

/* 
#myBtnContainer button.active :hover {
    background-color: aqua;


} */


#myBtnContainer button .btn :hover {
    background-color: #116f70;

}

/* @keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
} */

/* Style the buttons */
.btn {
    border: none;
    width: 300px;
    /* border-radius: 25px; */
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    border: 2px solid #116f70;
    ;
    box-shadow: inset 0 0 0 0 #116f70;
    ;
    -webkit-transition: ease-out 0.1s;
    -moz-transition: ease-out 0.1s;
    transition: ease-out 1.6s;

}

.show {
    /* display: grid;
    grid-template-columns: auto auto auto auto; */
    animation: animate 1s ease;

}

@keyframes animate {
    from {
        scale: 0.5;
    }

    to {
        scale: 1;
    }
}

.btn:hover {
    /* box-shadow: inset 0 0 200px 100px aqua; */
    /* animation: shake 0.5s;
    animation-iteration-count: infinite; */
}

.btn:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.btn:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.btn:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

.btn:nth-child(1) {
    border-radius: 15px 0 0 15px;
}

.btn:nth-child(3) {
    border-radius: 0 15px 15px 0;
}

.filterDiv img {
    width: 220px;
    height: 220px;
}

@media (max-width: 1000px) {

    .full-img img {
        /* transform: rotate(-20deg); */
        width: 95%;
        max-width: 450px;
    }


    /* @keyframes movement {
        from {
            transform: translateX(-20px);
        }

        to {
            transform: translateX(20px);
        }
    } */
}


@media (max-width: 800px) {
    .gallery .image {
        width: calc(100% / 1.5);
    }

    /* .filterDiv img {
        height: 30vh;
        width: 40vh;
        border-radius: 15px;
    } */

    .subContainer {
        /* transform: translateY(10vh); */
        padding: 0%;
    }

    header {
        height: 30px;
    }


    .btn {
        /* border: 2px solid #2856ec; */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        text-align: center;
        width: 55px;
        border-radius: 15px;
    }

    body {
        /* margin: 0;
    padding: 0;*/
        height: 900px;
    }

    .box {
        width: 372px;
        height: 372px;
    }

    .box .content {
        padding: 20px 40px;

    }

    .subContainer .filterDiv:hover p {
        animation: none;

    }


    @media (max-width: 700px) {

        /* @keyframes movement {
        from {
            transform: translateX(-10px);
        }

        to {
            transform: translateX(10px);
        }
    } */
    }


    @media (max-width: 600px) {


        body {
            /* margin: 0;
        padding: 0;*/
            height: 1050px;
        }
    }


    @media (max-width:450px) {
        body {
            /* margin: 0;
        padding: 0;*/
            height: 910px;
        }

    }
}

.content a img {
    cursor: pointer;
}

#sponsor1 {
    width: 100%;
    height: 100%;
    position: relative;
    scale: 0.5;
    margin-bottom: -3%;
    margin-top: -3%;
}

.sponsorh3 {
    background-color: whitesmoke;
}

#bc {
    color: aliceblue;
    scale: 0.75;
}

@media screen and (min-width: 600px) and (max-width: 875px) {
    #bc {
        scale: 0.45;
    }
}

@media screen and (max-width: 480px) {
    #sponsor1 {
        scale: 0.9;
    }

    #bc {
        scale: 0.5;
    }
}

#bc1 {
    color: aliceblue;
    scale: 0.75;
}


@media screen and (max-width:500px) {
    
}
/* newcard */

:root {
  /* Colors */
  --brand-color: rgb(193, 154, 106);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
.newcsscard__title,
p {
  margin: 0;
}

/* GLOBAL STYLES */
body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.newcsscard__title {
   font-size: 1.22rem; 
   font-family: Georgia, serif;
  /* font-family: var(--font-title); */
  color: var(--white);
  line-height: 1.1;
}



.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* CARD COMPONENT */
.subcontainer{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  gap: 40px;
  margin-top: 40px;
  
}
.newcssbox{
  /* margin-left: 10px; */
/*   
  top: 50%;
  left: 50%; */
  margin: 20px;
  transform: translate(0%, 0%);
  width: 320px;
  height: 320px;
  background: #111845a6;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 25px rgb(112, 100, 69);
  border: 1px solid#eba548;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media(max-width:405px){
  .newcssbox{
    height: 280px;
    width: 280px;
  }
  .newcsscard__title{
    font-size: 1.75rem;
  }
  i{
    font-size: 1.5rem;
  }
  .newcsscard__description{
    margin-top: 10px;
  }

}
@media(max-width:360px){
  .newcssbox{
    height: 250px;
    width: 250px;
  }
  .newcsscard__title{
    font-size: 1.35rem;
  }


}
.newcssbox .content{
  
  top:15px;
  left:15px;
  right:15px;
  bottom:15px;
  border:1px solid #c7c7c7;
  padding:20px;
  text-align:center;
  box-shadow: 0 5px 10px#f0a591
  
}

.newcssbox span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  
}

.newcssbox span:nth-child(1)
{
  transform:rotate(0deg);
}

.newcssbox span:nth-child(2)
{
  transform:rotate(90deg);
}

.newcssbox span:nth-child(3)
{
  transform:rotate(180deg);
}

.newcssbox span:nth-child(4)
{
  transform:rotate(270deg);
}

.newcssbox span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 2px;
  background:rgb(160, 124, 80);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
  transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
  transform-origin: right;
    
  }
  
  100%
  {
    transform:scaleX(0);
  transform-origin: right;
    
  }
  
  
} 
.newcssouter-card{
  border: 2px solid rgb(193, 154, 106);
  border-radius: 3%;
}
.newcsscard {
  padding: 4px 4px 4px 4px;
  border:solid 2px rgb(142, 121, 17);
  
  display: grid;
  place-items: center;
  /* width: 15rem;
  max-width: 21.875rem;
  height: 17.125rem; */
  overflow: hidden;
  /* border-radius: 0.625rem; */
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(12, 7, 46);
}

.newcsscard > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.newcsscard__background {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.newcsscard__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 50%;
  width: 104%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.3) 10%, hsl(0deg 5.47% 35.09%) 100% );
  
}

.newcsscard__content--container {
  --flow-space: 1.25rem;
}

.newcsscard__title {
  position: relative;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.newcsscard__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}
.iki{
  color: bisque;
}
.iki:hover{
  scale: 1.1;
}
/* .card__button {
  padding: 0.75em 1.6em;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
  /* font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}

.card__button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
} */ 

@media(min-width:200px) {
   .newcsscard__content {
    transform: translateY(36%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .newcsscard__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .newcsscard__background {
    transition: transform 500ms ease-in;
  }

  .newcsscard__content--container > :not(.newcsscard__title),
  .newcsscard__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .newcsscard:hover,
  .newcsscard:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .newcssbox:hover .newcsscard__content,
  .newcsscard:focus-within .newcsscard__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .newcsscard:focus-within .newcsscard__content {
    transition-duration: 0ms;
  }

  .newcssbox:hover .newcsscard__background,
  .newcsscard:focus-within .newcsscard__background {
    transform: scale(1);
  }

  .newcsscard:hover .newcsscard__content--container > :not(.newcsscard__title),
  .newcsscard:hover .newcsscard__button,
  .newcsscard:focus-within .newcsscard__content--container > :not(.newcsscard__title),
  .newcsscard:focus-within .newcsscard__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .newcsscard:hover .newcsscard__title::after,
  .newcsscard:focus-within .newcsscard__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}



/* Add your existing CSS above this line */

.newcsscard__description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; /* Center the icons horizontally on smaller screens */
  }
  
  .newcssicon-box {

    font-size: 2rem;
    margin: 5px; /* Add some margin to separate the icons */
  }
  
 
.newcssdivbox{
    margin-left: 4%;
}

/* Existing CSS */



body {
    line-height: 1.6;
    color: #fff;
    background: #000;
    font-size: 18px;
    font-weight: 400;
    font-family: "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body.stop {
    overflow: hidden;
  }
  
  #page {
    position: relative;
    transition: 1s all ease-in-out;
  }
  #page.menuopen {
    opacity: 0.6;
    filter: blur(20px);
    transform: scale(1.2);
  }
  
  section {
    display: flex;
    min-height: 100vh;
    padding: 50px;
    justify-content: center;
    align-items: center;
    /* background: #222; */
    color: #fff;
    position: relative;
  }
  section:after {
    /* content: ""; */
    position: absolute;
    left: 0;
    top: 0;
    /* background: #000; */
    opacity: 0.5;
    height: 100%;
    width: 100%;
  }
  section h1 {
    font-size: 50px;
    margin: 0;
    z-index: 2;
    margin-top: 100px;
    position: relative;
    font-weight: 600;
  }
  
  header {
    z-index: 99999;
    position: relative;
  }
  header #logo {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    width: 100px;
    height: auto;
    margin: 0 auto;
    opacity: 1;
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
  }
  header #navbarPartners {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    left: 0;
    right: 0;
    width: 500px;
    margin: 0 auto;
    top: 120px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 200px;
    z-index: 9;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.06);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  }
  @media screen and (max-width:500px) {
    
  }
  header #navbarPartners a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    display: block;
    padding: 10px 20px;
    line-height: 1;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
  }
  header #navbarPartners button {
    -webkit-appearance: none;
    background: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    z-index: 99;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
    transform: scale(0);
  }
  header #navbarPartners button span {
    width: 40%;
    background: #fff;
    height: 2px;
    display: block;
    margin: 5px auto;
    transform: scalex(0);
    transition: 0.6s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s margin ease-in 0s;
  }
  header #navbarPartners button:hover {
    border-color: rgba(255, 255, 255, 0.5);
  }
  header #navbarPartners button:hover span {
    margin: 10px auto;
  }
  
  header.sticky #logo {
    top: 0;
    transform: scale(0.8);
    opacity: 0;
    transition-delay: 0.5s;
  }
  header.sticky #navbarPartners {
    top: 20px;
    padding: 0;
    width: 90px;
    height: 90px;
    transition-delay: 0.5s;
  }
  header.sticky #navbarPartners button {
    transform: scale(1);
    transition-delay: 0.6s;
  }
  header.sticky #navbarPartners button span {
    transform: scalex(1);
    transition: 0.6s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s, 0.3s margin ease-in 0s;
  }
  header.sticky #navbarPartners a {
    padding: 0;
    opacity: 0;
    letter-spacing: 0px;
    transform: scale(0.3);
    transition-delay: 0.2s;
  }
  #page section{
    z-index: 100;
  }

@media screen and (max-width:500px){
  header #navbarPartners {
    width: 360px;
}
}