.container-speaker {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    /* margin: 0 auto; */
    padding: 20px;
    position: relative;
    z-index: 999999;
    margin-bottom: 5rem;
  }
  
  .speaker-card {
    background-color: #020c1e; /* Dark background color */
    color: #fff; /* Light text color */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    position: relative; /* Create a stacking context */
  }
  
  .speaker-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, rgba(193, 193, 251, 0.112)); /* Shiny effect background */
    opacity: 0;
    pointer-events: none; /* Allow hover over content */
    z-index: 1;
    transition: opacity 0.3s ease;
  }
  
  .speaker-card:hover::before {
    opacity: 1;
  }
  
  .speaker-card img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    margin: 0 auto 15px;
  }
  
  .speaker-card h3 {
    font-size: 1.5rem;
    margin: 0;
    color: #fff;
  }
  
  .speaker-card p {
    margin: 5px 0;
    color: #ccc;
  }
  
  .speaker-card:hover {
    transform: scale(1.05);
  }